# Move to NumPy 2.x since your model is already there

numpy==2.0.0



# Use the absolute latest spaCy which supports NumPy 2.0



fastapi

mangum

scikit-learn==1.5.0

joblib==1.4.2

requests

beautifulsoup4

en-core-web-sm-vbspacy